<h2 class="text-center">About Candi-Test</h2><br />
<p>
    Candi-Test is an online testing application that enables the recruitment teams to assess their prospective IT employees in the fields they are interested in.
    This application tests the employees on the IT fields which are software development, cloud computing, artificial intelligence, information security and data science. Only 
    one quiz per can be taken by a candidate at a time. To learn more about us, you can visit our social media networks or send a message to  us by clicking <a routerLink='contact-us'  (click)="ToAnother()">here</a> 

</p>


